
<h3 style="border-bottom: solid 1px #ccc; padding-left: 0;">
  {% for part, options in request.surt_part_options_tuples %}
  <select style="border-bottom: solid 4px #fff; position: relative;
                 bottom: -4px; background-color: #417690; color: #ffc;
                 cursor: pointer; font-size: 1rem; height: auto;
                 padding: 0.2rem;">
    {% with is_proto=forloop.first %}
    {% for option in options %}
      {% if option == part %}
        {% if is_proto %}
    <option value="{{ option }}" selected>{{ option }}://(</option>
        {% else %}
    <option value="{{ option }}" selected>{{ option }},</option>
        {% endif %}
      {% else %}
        {% if is_proto %}
    <option value="{{ option }}">{{ option }}://(</option>
        {% else %}
    <option value="{{ option }}">{{ option }},</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>
  {% endwith %}
  {% endfor %}
</h3>
