
.field-policy,
.field-capture_date_start,
.field-capture_date_end {
  white-space: nowrap;
}

#changelist-form .results {
  position: relative;
  height: 60vh;
  overflow: auto;
}

#result_list {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#result_list > thead > tr > th {
  position: relative;
  padding-right: 1em;
}

#surt-part-navigator {
  border-bottom: solid 1px #ccc;
}

#surt-part-navigator > select {
  background-color: #417690;
  border-bottom: solid 4px #fff;
  bottom: -4px;
  color: #ffc;
  cursor: pointer;
  font-size: 1rem;
  height: auto;
  padding: 0.2rem;
  position: relative;
}
